* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

canvas {
  background-color: rgba(17, 17, 17, 1);
  width: 100vw;
  height: 100vh;
}

#music {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  display: block;
  z-index: 10;
  color: #bfbfbf;
  cursor: pointer;
}

.fa-music.mute::after {
  content: "";
  background-color: #c37272;
  height: 3rem;
  width: 0.5rem;
  position: absolute;
  border-radius: 10px;
  transform: rotate(-55deg) translate(-50%, -40%);
}
